/out
*.iml
/logs
/.idea
/target
/web-app/pub
/web-app/temp
/web-app/plugins
/web-app/resources
/web-app/WEB-INF/vcs
/web-app/WEB-INF/temp
/web-app/templates/*/
/web-app/templates/*.*
/web-app/WEB-INF/wc-plugins
!/web-app/templates/default/
/grails-app/i18n/*.properties
/web-app/js/i18n/*.properties
/web-app/WEB-INF/commander-plugins
!/web-app/js/i18n/messages.properties
!/grails-app/i18n/messages.properties
/web-app/WEB-INF/modifiable-resources
!/web-app/js/i18n/messages_en.properties
!/web-app/js/i18n/messages_en-US.properties